.App {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}


.shortener-form { 
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto; 
  height: 100%;
  
}
.mh-100vh { 
  min-height: 100vh;
}
.alert-fixed {
  position:fixed; 
  padding-top: 5px;
  margin: auto; 
  width: 100%;
  z-index:9999; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
