.App {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}


.shortener-form { 
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto; 

  
}
.mh-100vh { 
  min-height: 100vh;
}
.alert-fixed {
  position:fixed; 
  padding-top: 5px;
  margin: auto; 
  width: 100%;
  z-index:9999; 
}

.local-max-width-alert { 
  max-width: 1440px;
}

.test { 
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto; 

  
}
.margin-top-15px { 
  margin-top: 15px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
